*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1900px;
    width: 100%;
    padding: 0 90px;
    
}

.container-two{
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
}

.blue{
    background-color: #0020F4;
    width: 100%;
    position: relative;

}

/* header */

.blue-box{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 390px;
    padding: 50px 100px;
 
}

.blue-box img {
    width: 115px;
    height: 65px;
    object-fit: contain;
}

.blue-box ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: 20px;
   
}

#contact-btn{
    color: #171717;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    border: none;
   
}

#contact-btn:hover{
    font-size: 18px;
    transition: 0.5s;
}

.blue-box a{
    text-decoration: none;
    margin-right: 40px;
    color: white;
    font-size: 16px;
    line-height: 18px;
}

.main-page a{
    border-bottom: 1px solid   white;
    padding-bottom: 10px;
}

.blue-box a:hover{
    border-bottom: 1px solid   white;
    padding-bottom: 10px;
    transition: all .5s;
    transform: translateY(90px);
}

#logo{
    border-bottom: none;
    transition: none;
    transform: none;
}

#fixed-btn{
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 50%;
    background-color: #a2abe9;
    outline: none;
    cursor: pointer;
    border: none;
    z-index: 1;
}

#fixed-btn:hover{
    background-color: #0020F4;
    transition: all 0.5s;
}
#fixed-btn:active{
    background-color: #0020F4;

}
.arrow{
    width: 60px;
}

/* pictures section */
.main-pic{
    width: 900px;
    position: absolute;
    top: 200px;
   
}

.main-pic:hover{
    width: 930px;
    transition:0.5s;
}

.title h3{
    margin-top: 300px;
    font-size: 28px;
    line-height: 34px;

}

.pictures-slide{
    display: flex;
    justify-content: space-between;
   
}
.pictures-slide img{
    width: 170px;
    margin-right: 10px;
    margin-top: 60px;
    margin-bottom: 60px;

}
.pictures-slide img:hover{
    width: 180px;
    transition:0.5s;

}

.text-content p{
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 26px;
    padding:  0 90px;
    color: #171717;
    font-family: 'Arial GEO';
}

.more-info{
    display: none;
}

.more-info.active{
    padding:  0 90px;
    display: block;
}

.text-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
   
.moreinfo-button{
    font-size: 16px;
    line-height: 19px;
    padding: 15px 60px;
    background-color: #0020F4;
    border-radius: 30px;
    color: white;
    border: none;
    margin-top: 80px;

}

.moreinfo-button:hover{
    background-color: #0a22bb;
    font-size: 18px;
    transition: all linear 0.5s;
}
    

/* contact */
.blue-form{
    background-color: #0020F4;
    margin-top: 100px;
}

.contact-box{
    padding: 200px 0;
 
}

.contact-box h3{
    color: white;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 30px;
}

.contact-box p{
    color: white;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 50px;
    font-family: 'Arial GEO';
}

.map{
    margin-bottom: 70px;
    border-radius: 15px;
    width: 400px;
    height: 197px;

}

.map:hover{
    width: 430px;
    height: 210px;
    transition: all linear 0.5s;


}

.icons-line{
    display: flex;
    flex-direction: column;
   
}

.icons-line img{
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    margin-right: 15px;
}

.icons-line img:hover{
    width: 50px;
    transition: 0.5s;

}
.contact-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 70px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 50px;
    
}

.contact-line:hover{
    color: rgb(156, 159, 185);
}

/* form */

.form-field .has-error, .form-field .has-error:focus {
    border-bottom: 2px solid red;
}
.error-message {
    color: red;
}

.form-field p{
    font-size: 20px;
    margin-top: 8px;
}
.input-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.input-info input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    width: 400px;
    height: 30px;
    color: azure;
    outline: none;
}


.input-info input:hover{
    border-bottom: 1px solid rgb(221, 208, 208);

}

.input-info label{
    color: white;
    font-size: 16px;
    line-height: 19px;
}

.blue-contact{
    display: flex;
    flex-direction: row;
   
}

.form-box{
    margin-top: -100px;
    padding: 250px 0;
    margin-left: 90px;
}

.send-button{
    color: #171717;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 16px;
    line-height: 19px;
    border: none;
    margin-top: 80px;
    margin-left: 280px;
}

.send-button:hover{
    font-size: 18px;
    background-color: rgb(205, 220, 223);
    transition: 0.5s;
  
}

/* modal popup */
.modal {
    display: none;
    position: fixed;
    height: 400px;
    left: 200px;
    right: 200px;
    top: 20px;
    bottom: 200px;
    background-color: rgb(234, 243, 255) ;
    padding: 80px;
    text-align:left;
    filter:none;
    border-radius: 20px;
}

.main-cont.blured{
    filter: blur(10px);

}
.modal.visible {
    display: block;
}
.my-modal h3{
    font-size: 22px;
    line-height: 23px;
    color: #171717;
    margin-bottom: 20px;
}

#modal-email{
    color: #0020F4;
    font-size: 22px;
}

#modal-email-line{
    border-bottom: 1px solid rgb(13, 24, 173);
}
.modal-content{
    font-size: 18px;
    color: #ACACAC;
    margin-bottom: 50px;
    font-family: 'Arial GEO';
}

#close-btn{
    background-color: rgb(39, 70, 209);
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    margin-left: 800px;
}
#close-btn:hover{
    background-color: rgb(29, 53, 161);
    transition: all 0.5s;
}

.sendbut{
    background-color: rgb(39, 70, 209);
    font-size: 20px;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: -70px;
}
.sendbut:hover{
    background-color: rgb(29, 53, 161);
    transition: all 0.5s;
}

/* footer */
footer{
    margin-top: -200px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;

}

.footer-line{
    font-size: 16px;
    line-height: 19px;
    color: white;
    margin-bottom: 70px;

}

.made-by span{
    font-size: 13px;
    line-height: 16px;
    color: white;
    margin-right: 15px;
}

.made-by{
    margin-bottom: 70px;
    align-items: center;
    display: flex;
    flex-direction: row;
   
}


/* second html page */
.blue-box-second{
    height: 370px;
    padding: 50px 0;

}

#prev-slide-btn{
    position: absolute;
    top: 300px;
    left: 150px;
    border-radius: 90%;
    border: none;
    background: white;
}

#next-slide-btn{
    position: absolute;
    top: 300px;
    left: 1000px;
    border-radius: 90%;
    border: none;
    background: white;

}
.slider img{
    position: absolute;
    top: 170px;
    left: 400px;
    width: 440px;

}

.slider-wrapper {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slider-item {
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
}

.slider-item.active {
    display: block;
    visibility: visible;
    opacity: 1;
}

.slider-item.animating {
    display: block;
    visibility: hidden;
    opacity: 0;
}

/* about us section */
.about-us h3{
    color: #171717;
    font-size: 32px;
    line-height: 39px;
    margin-top: 310px;
}

.about-us p{
    color: #171717;
    font-size: 16px;
    line-height: 26px;
    margin-top: 70px;
    width: 550px;
    font-family: 'Arial GEO';
}

.about-us img{
    width: 500px;
    margin-left: 700px;
    margin-top: -260px;
}

/* services */
.services{
    background-color: #f1f7f8;
    padding: 30px 100px;
}
.single-serv-box img{
    width: 220px;
    margin-bottom: 20px;
}

.rectangle2{
    width: 20px;
    height: 20px;
    border-radius: 30%;
    background-color: rgb(235, 230, 230);
    border: 3px rgb(46, 26, 160) solid;
    margin-bottom: 20px;
    cursor: pointer;
    margin-right: 20px;
}

#mobile-vers{
    display: none;
}

.three-rect{
    display: flex;
    margin-left: 900px;
    margin-top: -20px;
}

.rectangle2:hover {
    background-color: #0020F4;
    transition: all .5s;
}

.rectangle2.active{
    border: 3px #0020F4 solid;
    background-color: #0020F4;
}

.services{
    margin-top: 190px;
}
.services h3{
    color: #171717;
    font-size: 32px;
    line-height: 39px;
}

.services-box{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
}

.services-box h4{
    margin-bottom: 20px;
    color: #171717;
    font-size: 22px;
    line-height: 26px;
}

.services-box p{
    color: #171717;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Arial GEO';
}

.single-serv-box{
    display: none;
}

.single-serv-box.active{
    display: block;
}


.blue-box-third{
    position: relative;
    width: 100%;
    background-color: #0020F4;
    height: 200px;
    margin-top: 200px;
}

/* projects */

.projects-pic img{
    width: 300px;
    margin-right: 60px;
}

.projects-pics{
    position: absolute;
    top: 100px;
    left: 100px;
    display: flex;
     
}

.projects-pic{
    position: relative;

}

.pic-overlay{
    position: absolute;
    top: 160px;
    left: 4px;
    width: 80%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.pic-overlay > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}
.projects-pic:hover .pic-overlay{
    opacity: 1;
}

.pic-overlay:hover > *{
    transform: translateY(0);

}

.pic-overlay p{
    font-size: 18px;
    line-height: 22px;
    color: white;
    margin-left: 20px;
    font-family: 'Arial GEO';
    
}

.projects h3{
    position: absolute;
    top: 30px;
    left: 100px;
    font-size: 32px;
    line-height: 39px;
    color: white;
    
}


/* partners */
.partners{
    display: flex;
    margin-top: 400px;

}

.partners-box{
    margin-right: 80px;
}

.partners-box h3{
    color: #171717;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 40px;

}

.partners-box p{
    color: #171717;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Arial GEO';
}

.pics-3{
    display: flex;
}

.partners-img{
    margin-top: 60px;

}

#audio{
    display: none;
    
}

/* burger */
.responsive-nav{
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 237, 243);
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    display: none;
}

.responsive-nav.active{
    display: block;
}
.responsive-nav li{
    list-style: none;
    font-size: 30px;
    margin-bottom: 5px;
}
.responsive-nav a{
    color: #0a22bb;
}
 .burger-menu div{
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    margin-bottom: 10px;
 }

 .active .line2{
    display: none;

 }

 .active .line1{
    transform: translate(-50%, -50%) rotate(-50deg);
    width: 40px;
    margin-top: 30px;
  
 }
 .active .line3{
    transform: translate(-50%, -50%) rotate(50deg);
    width: 40px;
    margin-top: -13px;
 }

 .line{
    transition: all 0.5s linear;

 }
.burger-menu{
    display: none;
    margin-top: 20px;
}

